.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: lightskyblue;
    border: 2px solid black;
    height: 250px;
    width: 250px;
  }
  .box{
    background-color: lightcoral;
    border: 5px solid darkred;
    height: 100px;
    width: 100px;
    font-weight: bold;
    align-items: flex-start;
    text-align: center;
  }